*.exe
*.dll
*_key_log.txt
*.log
build/
dist/

csharp-obs-key-logger/bin/
csharp-obs-key-logger/obj/
csharp-obs-key-logger.deps.json
csharp-obs-key-logger.runtimeconfig.json
obs-key-logger
mp4-key-logger